.container {
  padding-top: 20px;
  padding-bottom: 25px;
}

.marca-item {
  text-align: center;
  font-size: 18px;
}

.precio-item {
  text-align: center;
  font-size: 20px;
}

.boton-div {
  text-align: center;
  .boton-carta {
  }
}

.row {
  .col-3 {
    padding-top: 15px;
    padding-bottom: 20px;
    .card {
      .card-img-top {
        height: 350px;
        object-fit: contain;
      }
      .card-title {
        font-size: 22px;
        text-align: center;
        .card-text {
        }
      }
    }
  }
}
