
.container {
    padding-top: 30px;
    padding-bottom: 25px;
}

.row {
    .col-3 {
        .card {
            .card-img-top {
                height: 350px;
                object-fit: contain;
            }
        }
    }
}