$color: #0080FF;
$color-font: #FFFFFF;



.navbar{
    .container-fluid{
        background-color: $color;
        padding-top: 12px;
        padding-bottom: 12px;
        .navbar-collapse{
            .navbar-nav{
                a.nav-link{
                    color: $color-font;
                    font-size: 18px;
                }
            }
        }
        .navbar-brand {
            font-family: 'Righteous', cursive;
            font-size: 30px;
            color: $color-font;
        }

    }
}